/* =========================================================================
   Body
   ========================================================================= */

body {
    color: #222;
    background-color: #f7f7f7;
    font-family: -apple-system, "Segoe UI", Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
    font-size: 18px;
}



/* =========================================================================
   Header
   ========================================================================= */

header {
    display: flex;
    justify-content: flex-start;
    padding: 1em 1em;
    margin-bottom: 5em;
}

.is-mobile header {
    justify-content: center;
    margin-bottom: 1em;
}



/* =========================================================================
   Logo
   ========================================================================= */

.logo {
    max-width: 120px;
}

.is-mobile .logo {
    max-width: 100px;
}



/* =========================================================================
   H1
   ========================================================================= */

h1 {
    font-family: 'Raleway', 'Segoe UI', sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 800;
    font-size: 3.5em;
    margin: 0 0 .3em;
    text-align: center;
    line-height: 1;
}

.is-mobile h1 {
    font-size: 1.5em;
    margin: 0 0 .8em;
}



/* =========================================================================
   Preamble
   ========================================================================= */

.preamble {
    font-size: 1.3em;
    text-align: center;
    line-height: 1.2;
    max-width: 640px;
    margin: 0 auto 2em;
}

.is-mobile .preamble {
    font-size: 1.2em;
}



/* =========================================================================
   Product Link
   ========================================================================= */

.product-link {
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .16);
    font-size: 1.1em;
    max-width: 540px;
    margin: 0 auto 1em;
    display: flex;
    text-decoration: none;
    color: inherit;
    line-height: 1.1;
    gap: 1em;
    padding: 1.2em;
    border-radius: 1em;
    align-items: center;
    align-items: flex-start;
    transform: scale(.99);
    transition: box-shadow .1s, transform .1s;
}

.product-link:hover {
    transform: scale(1);
    box-shadow: 1px 4px 16px rgba(0, 0, 0, .2);
}

.is-mobile .product-link {
    font-size: 1em;
    line-height: 1.3;
    padding: .8em;
    gap: .8em;
    border-radius: .8em;
}



/* =========================================================================
   Product Icon
   ========================================================================= */

.product-icon {
    width: 50px;
    height: 50px;
    flex-grow: 0;
    flex-shrink: 0;
}

.is-mobile .product-icon {
    width: 40px;
    height: 40px;
}



/* =========================================================================
   Product Name
   ========================================================================= */

.prduct-link strong {
    font-family: 'Raleway', 'Segoe UI', sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}